#fps {
  position: absolute;
  background-color: black;
  border: 2px solid red;
  text-align: center;
  font-size: 16px;
  color: white;
  top: 15px;
  right: 10px;
  width: 60px;
  height: 27px;
}

.descriptionClass {
  width: 140px;
}

.parameterClass {
  width: 50px;
  text-align: center;
}

.sliderClass {
  width: 200px;
}

.sliderClass input {
  width: 100%;
}

.checkboxClass {
  text-align: center;
}

.lightSettingContainer {
  margin-right: 30px;
}

.settingContainer {
  display: flex;
}
